In [1]:
import pandas as pd

## 1

Методом read_excel() прочтите первый лист 'traffic_data' Выведите на экран первые 5 строк листа методом head().

 Прочитайте названия столбцов:

subcategory_id — идентификатор товарной подкатегории, или её зашифрованное название;

source — источник трафика. В нашем случае источников два: прямой заход на сайт в таблице обозначен как direct, переход из поисковых систем — organic;

visits — количество визитов на страницу подкатегории за отчётный период.

Путь к файлу: /datasets/seo_data.xlsx

In [5]:
data = pd.read_excel('./seo_data.xlsx', sheet_name='traffic_data')#прочитайте файл seo_data, лист traffic_data 
print(data.head())

  subcategory_id  source         visits
0     cf2e61c7af  direct  501165.668858
1     0cd903d1cc  direct  126342.359505
2     ef35bc88a7  direct   95626.321402
3     6ff9f4014c  direct   75680.653002
4     72bc238e4d  direct   64435.934651

## 2

Пока в первых 5 строчках таблицы виден только один источник трафика direct. 

Проверьте, какие источники есть в столбце source.

 Выведите на экран список уникальных значений этого столбца.

In [12]:
data['source'].unique()

array(['direct', 'organic'], dtype=object)

## 3

Методом read_excel() прочтите второй лист 'subcategory_ids' и сохраните его в переменной subcategory_dict. 

Выведите на экран его первые 5 строк методом head().

Обратите внимание на названия столбцов: к знакомым нам идентификаторам подкатегорий (subcategory_id) добавились идентификаторы категорий (category_id) и названия подкатегорий (subcategory_name).

Всё это похоже на словарь, где идентификаторам подкатегорий из цифр и латинских букв соответствуют понятные нам названия. Поэтому датафрейм называется subcategory_dict.

In [13]:
subcategory_dict = pd.read_excel('./seo_data.xlsx', sheet_name='subcategory_ids')
subcategory_dict

    subcategory_id                subcategory_name category_id
0       cf2e61c7af              Мобильные телефоны  09f279a643
1       0cd903d1cc                        Ноутбуки  3509869a61
2       ef35bc88a7                      Телевизоры  09f279a643
3       6ff9f4014c                        Планшеты  3509869a61
4       72bc238e4d  Наушники и Bluetooth-гарнитуры  09f279a643
..             ...                             ...         ...
959     779e246861                       Проволока  394f20d8fa
960     c51343bf77             Свитеры и кардиганы  6074ad29ac
961     d942687638                      Термобелье  6074ad29ac
962     976642886f     Наклейки, шильдики и значки  65922fa39c
963     075994491e             Гигиена полости рта  7dbac4c1a3

[964 rows x 3 columns]

## 4

Наконец, методом read_excel() прочтём третий лист category_ids и сохраним его в переменной category_dict. 

Выведите на экран первые 5 строк листа методом head().

Путь к файлу: /datasets/seo_data.xlsx

In [14]:
category_dict = pd.read_excel('./seo_data.xlsx', sheet_name='category_ids')
category_dict

   category_id               category_name
0   09f279a643                 Электроника
1   3509869a61        Компьютерная техника
2   65922fa39c                        Авто
3   6074ad29ac  Одежда, обувь и аксессуары
4   10a493e03b         Товары для здоровья
5   5a0d8ac946             Бытовая техника
6   7dbac4c1a3              Детские товары
7   ae99947659               Спорт и отдых
8   655ccc3c49          Товары для красоты
9   394f20d8fa      Строительство и ремонт
10  dafb4d11f4             Товары для дома
11  bfd01f6342          Дача, сад и огород
12  4f25bc6081         Досуг и развлечения
13  22f134317d         Товары для животных
14  00c81185f4                Оборудование
15  d9cd63e557                    Продукты

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1930 entries, 0 to 1929
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   subcategory_id  1930 non-null   object
 1   source          1930 non-null   object
 2   visits          1930 non-null   object
dtypes: object(3)
memory usage: 45.4+ KB