### 1


Посчитайте количество дубликатов в столбце 'item', вызвав методы duplicated() и sum().

Распечатайте на экране результаты вычислений в следующем виде:

Дубликатов в таблице: ...

In [1]:
import pandas as pd

In [2]:
stock = pd.read_excel('./stock.xlsx', sheet_name='storehouse')
print('Дубликатов в таблице: ', stock['item'].duplicated().sum())

Дубликатов в таблице:  3

### 2


Примените метод value_counts() к столбцу 'item'. Результат выведите на экран.

In [3]:
print(stock['item'].value_counts())

item
Смартфон Xiaomi Redmi 6A 16GB       3
Смартфон HUAWEI P30 lite            2
Смартфон Samsung Galaxy A30 32GB    1
смартфон Samsung Galaxy A30 32gb    1
Смартфон Apple iPhone Xr 64gb       1
Смартфон Honor 8X 64GB              1
Смартфон Apple iPhone Xr 64GB       1
Name: count, dtype: int64

### 3

Начните собирать данные для новой таблицы уже без дубликатов. 

Посчитайте количество телефонов марки Xiaomi Redmi на складе и сохраните его в переменной xiaomi.

 Результат выведите на экран.

In [4]:
xiaomi = stock[stock['item'] == 'Смартфон Xiaomi Redmi 6A 16GB']['count'].sum() 
xiaomi

np.int64(44)

### 4

Найдите количество смартфонов HUAWEI и сохраните его в переменной huawei.

 Закомментируйте вывод предыдущей задачи и выведите результат на экран.

In [5]:
huawei = stock[stock['item'] == 'Смартфон HUAWEI P30 lite']['count'].sum()
huawei

np.int64(38)

### 5

Удалите дубликаты из столбца item, «перезаписав» его.

Выведите на экран всю таблицу. Закомментируйте вывод из предыдущей задачи.

In [6]:
stock['item'] = stock['item'].drop_duplicates()
stock

          id                              item  count
0  100480924     Смартфон Xiaomi Redmi 6A 16GB     32
1  100480929                               NaN     10
2  100480938  Смартфон Samsung Galaxy A30 32GB     49
3  100480952  смартфон Samsung Galaxy A30 32gb     11
4  100480959          Смартфон HUAWEI P30 lite      5
5  100480975     Смартфон Apple iPhone Xr 64gb     10
6  100480988            Смартфон Honor 8X 64GB     64
7  100480998                               NaN     33
8  100481008                               NaN      2
9  100481020     Смартфон Apple iPhone Xr 64GB     19

### 6

Удалите пропуски из таблицы методом dropna() и восстановите индексы методом reset_index() c параметром drop, равным True. 

Выведите на экран таблицу.

In [7]:
stock = stock.dropna().reset_index(drop = True)
stock

          id                              item  count
0  100480924     Смартфон Xiaomi Redmi 6A 16GB     32
1  100480938  Смартфон Samsung Galaxy A30 32GB     49
2  100480952  смартфон Samsung Galaxy A30 32gb     11
3  100480959          Смартфон HUAWEI P30 lite      5
4  100480975     Смартфон Apple iPhone Xr 64gb     10
5  100480988            Смартфон Honor 8X 64GB     64
6  100481020     Смартфон Apple iPhone Xr 64GB     19

### 7

Замените количество телефонов Xiaomi — значение в столбце 'count' — на переменную xiaomi.

 Напомним, что в этой переменной вы сохранили число смартфонов Xiaomi. Выведите таблицу на экран и изучите результат.

In [8]:
stock.loc[0, 'count',] = xiaomi
stock

          id                              item  count
0  100480924     Смартфон Xiaomi Redmi 6A 16GB     44
1  100480938  Смартфон Samsung Galaxy A30 32GB     49
2  100480952  смартфон Samsung Galaxy A30 32gb     11
3  100480959          Смартфон HUAWEI P30 lite      5
4  100480975     Смартфон Apple iPhone Xr 64gb     10
5  100480988            Смартфон Honor 8X 64GB     64
6  100481020     Смартфон Apple iPhone Xr 64GB     19

### 8

Замените количество телефонов Huawei в таблице — значение в столбце 'count' — на переменную huawei. 

Распечатайте таблицу stock на экране.

In [9]:
stock.loc[0, 'count',] = xiaomi
stock.loc[3, 'count',] = huawei
stock

          id                              item  count
0  100480924     Смартфон Xiaomi Redmi 6A 16GB     44
1  100480938  Смартфон Samsung Galaxy A30 32GB     49
2  100480952  смартфон Samsung Galaxy A30 32gb     11
3  100480959          Смартфон HUAWEI P30 lite     38
4  100480975     Смартфон Apple iPhone Xr 64gb     10
5  100480988            Смартфон Honor 8X 64GB     64
6  100481020     Смартфон Apple iPhone Xr 64GB     19