In [1]:
import pandas as pd

### 1

Переведите названия моделей в нижний регистр методом str.lower(). 

Сохраните их в новом столбце 'item_lowercase'.

Распечатайте таблицу после преобразования.

In [10]:
stock = pd.read_csv('./stock_upd.csv')

In [11]:
stock['item_lowercase'] = stock['item'].str.lower() 
stock

,id,item,count,item_lowercase
0,100480924,Смартфон Xiaomi Redmi 6A 16GB,44,смартфон xiaomi redmi 6a 16gb
1,100480938,Смартфон Samsung Galaxy A30 32GB,49,смартфон samsung galaxy a30 32gb
2,100480952,смартфон Samsung Galaxy A30 32gb,11,смартфон samsung galaxy a30 32gb
3,100480959,Смартфон HUAWEI P30 lite,38,смартфон huawei p30 lite
4,100480975,Смартфон Apple iPhone Xr 64gb,10,смартфон apple iphone xr 64gb
5,100480988,Смартфон Honor 8X 64GB,64,смартфон honor 8x 64gb
6,100481020,Смартфон Apple iPhone Xr 64GB,19,смартфон apple iphone xr 64gb

### 2

В столбце 'item_lowercase' посчитайте количество дублей для каждой модели телефона методом value_counts(). 

Выведите результат на экран.

In [12]:
print(stock['item_lowercase'].value_counts())

item_lowercase
смартфон samsung galaxy a30 32gb    2
смартфон apple iphone xr 64gb       2
смартфон xiaomi redmi 6a 16gb       1
смартфон huawei p30 lite            1
смартфон honor 8x 64gb              1
Name: count, dtype: int64

### 3


Сохраните количество телефонов Apple в переменной apple. Выведите значение переменной на экран.

In [13]:
apple = stock[stock['item_lowercase'] == 'смартфон apple iphone xr 64gb']['count'].sum() 
apple

np.int64(29)

### 4


Сохраните количество телефонов Samsung в переменной samsung. Закомментируйте вывод предыдущей задачи и выведите samsung на экран.

In [14]:
sumsung = stock[stock['item_lowercase'] == 'смартфон samsung galaxy a30 32gb']['count'].sum() 
sumsung

np.int64(60)

### 5

Удалите дубликаты в столбце 'item_lowercase'. Закомментируйте вывод предыдущей задачи и распечатайте таблицу stock.

In [15]:
stock['item_lowercase'] = stock['item_lowercase'].drop_duplicates()
stock

,id,item,count,item_lowercase
0,100480924,Смартфон Xiaomi Redmi 6A 16GB,44,смартфон xiaomi redmi 6a 16gb
1,100480938,Смартфон Samsung Galaxy A30 32GB,49,смартфон samsung galaxy a30 32gb
2,100480952,смартфон Samsung Galaxy A30 32gb,11,NaN
3,100480959,Смартфон HUAWEI P30 lite,38,смартфон huawei p30 lite
4,100480975,Смартфон Apple iPhone Xr 64gb,10,смартфон apple iphone xr 64gb
5,100480988,Смартфон Honor 8X 64GB,64,смартфон honor 8x 64gb
6,100481020,Смартфон Apple iPhone Xr 64GB,19,NaN

### 6

Удалите пропуски. Выведите на экран обновлённую таблицу stock.

In [16]:
stock = stock.dropna().reset_index(drop=True)
stock

,id,item,count,item_lowercase
0,100480924,Смартфон Xiaomi Redmi 6A 16GB,44,смартфон xiaomi redmi 6a 16gb
1,100480938,Смартфон Samsung Galaxy A30 32GB,49,смартфон samsung galaxy a30 32gb
2,100480959,Смартфон HUAWEI P30 lite,38,смартфон huawei p30 lite
3,100480975,Смартфон Apple iPhone Xr 64gb,10,смартфон apple iphone xr 64gb
4,100480988,Смартфон Honor 8X 64GB,64,смартфон honor 8x 64gb

### 7

Замените количество телефонов Apple в таблице, т.е. значение в столбце 'count', на переменную apple. Распечатайте таблицу stock на экране.

In [17]:
stock.loc[3, 'count',] = apple
stock

,id,item,count,item_lowercase
0,100480924,Смартфон Xiaomi Redmi 6A 16GB,44,смартфон xiaomi redmi 6a 16gb
1,100480938,Смартфон Samsung Galaxy A30 32GB,49,смартфон samsung galaxy a30 32gb
2,100480959,Смартфон HUAWEI P30 lite,38,смартфон huawei p30 lite
3,100480975,Смартфон Apple iPhone Xr 64gb,29,смартфон apple iphone xr 64gb
4,100480988,Смартфон Honor 8X 64GB,64,смартфон honor 8x 64gb

### 8

Замените количество телефонов Samsung в таблице — значение в столбце 'count' — на переменную samsung. Распечатайте таблицу stock на экране.

In [18]:
stock.loc[1, 'count',] = sumsung
stock

,id,item,count,item_lowercase
0,100480924,Смартфон Xiaomi Redmi 6A 16GB,44,смартфон xiaomi redmi 6a 16gb
1,100480938,Смартфон Samsung Galaxy A30 32GB,60,смартфон samsung galaxy a30 32gb
2,100480959,Смартфон HUAWEI P30 lite,38,смартфон huawei p30 lite
3,100480975,Смартфон Apple iPhone Xr 64gb,29,смартфон apple iphone xr 64gb
4,100480988,Смартфон Honor 8X 64GB,64,смартфон honor 8x 64gb