In [1]:
import pandas as pd
support = pd.read_csv('./support_upd.csv')

### 1

Уточните, сколько раз встречается каждый тип обращений. Результат выведите на экран.

In [2]:
support['type_message'].value_counts().head(20)

type_message
Жалоба на товар в магазине      606
Мошенничество                   586
Продажа поддельной продукции    312
Не работает сайт                311
Продажа запрещенных товаров     303
Накрутка отзывов                302
Жалоба на видеообзор            297
Отзыв удалён                    283
Name: count, dtype: int64

### 2

Создайте новую таблицу support_log. Из таблицы support перенесите следующие столбцы: 'user_id', 'type_id', 'timestamp'.

 Первые 10 строк support_log напечатайте на экране.

In [3]:
support_log = support[['user_id', 'type_id', 'timestamp']]
support_log.head(10)

    user_id  type_id            timestamp
0  DNcd8dnS        3  2019-03-28 13:58:24
1  0e9MvwGs        5  2019-03-08 17:11:59
2  boyDUG4C        5  2019-03-03 17:52:34
3  5jMA27s1        3  2019-03-16 15:18:21
4  wvtyctOK        2  2019-03-13 14:43:14
5  zvN8W1tc        8  2019-03-29 20:32:17
6  bBmybSbr        1  2019-04-08 21:37:15
7  5JX1P5G8        6  2019-04-06 12:15:20
8  pbbG3xWx        1  2019-04-09 17:30:43
9  vZWtTovT        3  2019-04-16 12:26:16

### 3

Создайте новую таблицу support_dict. Из таблицы support перенесите следующие столбцы: 'type_message', 'type_id'. 

Первые 10 строк support_dict выведите на экран.

In [4]:
support_dict = support[['type_message', 'type_id']]
support_dict.head(10)

                  type_message  type_id
0   Жалоба на товар в магазине        3
1                Мошенничество        5
2                Мошенничество        5
3   Жалоба на товар в магазине        3
4             Накрутка отзывов        2
5         Жалоба на видеообзор        8
6             Не работает сайт        1
7  Продажа запрещенных товаров        6
8             Не работает сайт        1
9   Жалоба на товар в магазине        3

### 4


Удалите дубликаты в таблице support_dict и распечатайте её в порядке возрастания значений столбца type_id.

In [5]:
support_dict = support_dict.drop_duplicates().reset_index(drop=True)
support_dict

                   type_message  type_id
0    Жалоба на товар в магазине        3
1                 Мошенничество        5
2              Накрутка отзывов        2
3          Жалоба на видеообзор        8
4              Не работает сайт        1
5   Продажа запрещенных товаров        6
6  Продажа поддельной продукции        4
7                  Отзыв удалён        7