In [1]:
import pandas as pd

### 1

Сгруппируйте данные по типу события и посчитайте количество событий. Сохраните группировку в переменной support_log_grouped и выведите её на экран.

In [2]:
support_log = pd.read_csv('./support_log.csv')
support_log

      Unnamed: 0   user_id  type_id            timestamp
0              0  DNcd8dnS        3  2019-03-28 13:58:24
1              1  0e9MvwGs        5  2019-03-08 17:11:59
2              2  boyDUG4C        5  2019-03-03 17:52:34
3              3  5jMA27s1        3  2019-03-16 15:18:21
4              4  wvtyctOK        2  2019-03-13 14:43:14
...          ...       ...      ...                  ...
2995        2995  6X0OF5EB        3  2019-04-23 17:30:21
2996        2996  dQ4DCfeo        3  2019-04-02 14:13:30
2997        2997  nSwKhw7e        3  2019-03-02 10:53:54
2998        2998  UE5G4T3x        3  2019-03-24 10:21:57
2999        2999  uwPq9D2m        1  2019-04-20 15:45:55

[3000 rows x 4 columns]

In [3]:
support_log_grouped = support_log.groupby('type_id').count()
support_log_grouped

         Unnamed: 0  user_id  timestamp
type_id
1               311      311        311
2               302      302        302
3               606      606        606
4               312      312        312
5               586      586        586
6               303      303        303
7               283      283        283
8               297      297        297

### 2

Напишите функцию alert_group(messages) , которая оценивает приоритет в зависимости от количества сообщений. 

Если параметр не более 300, она должна возвращать строку 'средний', если значение параметра от 301 до 500 включительно, тогда строку 'высокий'.

 Для более высоких значений должна возвращаться строка 'критичный'.
 
Проверьте, что ваша функция отвечает верно, когда ей передают числа 10, 450, 1000. Каждое значение выводите на новой строке.

In [4]:
def alert_group(messages):    
    if messages <= 300:
        return 'средний'
    if messages <= 500:
        return 'высокий'
    return 'критичный'

In [5]:
print(alert_group(10))

средний

In [6]:
print(alert_group(450))

высокий

In [7]:
print(alert_group(1000))

критичный

### 3

Добавьте таблице support_log_grouped столбец 'alert_group', где хранятся результаты применения вашей функции alert_group().

Закомментируйте результаты предыдущего задания. Посмотрите верхние 10 строк support_log_grouped: убедитесь, что функция правильно расставила приоритеты.

In [8]:
support_log_grouped['alert_group'] = support_log_grouped['user_id'].apply(alert_group)
support_log_grouped.head(10)

         Unnamed: 0  user_id  timestamp alert_group
type_id
1               311      311        311     высокий
2               302      302        302     высокий
3               606      606        606   критичный
4               312      312        312     высокий
5               586      586        586   критичный
6               303      303        303     высокий
7               283      283        283     средний
8               297      297        297     средний

### 4

Посчитайте количество обращений по каждому приоритету.

In [9]:
support_log_grouped['alert_group'].value_counts()

alert_group
высокий      4
критичный    2
средний      2
Name: count, dtype: int64