In [1]:
import pandas as pd

### 1


Прочитайте файл с отзывами, размещённый по адресу: /datasets/support_log_grouped.csv
Результат выведите на экран.

In [2]:
support_log_grouped = pd.read_csv('./support_log_grouped.csv')
support_log_grouped

   type_id  user_id  timestamp alert_group  importance
0        1      311        311     высокий           1
1        2      302        302     высокий           0
2        3      606        606   критичный           0
3        4      312        312     высокий           1
4        5      586        586   критичный           1
5        6      303        303     высокий           1
6        7      283        283     средний           1
7        8      297        297     средний           0

### 2

Напишите функцию alert_group_importance(row), работающую в соответствии со следующей логикой:

Если приоритет 'alert_group' средний, а важность 'importance' оценена в единицу, возвращать команду для отдела поддержки: 'обратить внимание';

Если приоритет высокий, а важность — единица, возвращать: 'высокий риск';

Если приоритет критичный, а важность — единица, возвращать: 'блокер';

Во всех остальных случаях выводить: 'в порядке очереди'.

Проверьте работоспособность функции для разных значений.

Чтобы тренажёр принял решение, оставьте в переменной row_values значение ['высокий', 1].

In [3]:
def alert_group_importance(row): 

    importance = row['importance']
    alert_group = row['alert_group']   

    if importance == 1:
        if alert_group == 'средний':
            return 'обратить внимание'
        elif alert_group == 'высокий':
            return 'высокий риск'
        else: 
            return 'блокер' 
    else: 
        return 'в порядке очереди'

### 3

Создайте новый столбец 'importance_status' и сохраните в нём результаты работы функции alert_group_importance(). 

Результат выведите на экран.

In [4]:
support_log_grouped['importance_status'] = support_log_grouped.apply(alert_group_importance, axis=1)
support_log_grouped

   type_id  user_id  timestamp alert_group  importance  importance_status
0        1      311        311     высокий           1       высокий риск
1        2      302        302     высокий           0  в порядке очереди
2        3      606        606   критичный           0  в порядке очереди
3        4      312        312     высокий           1       высокий риск
4        5      586        586   критичный           1             блокер
5        6      303        303     высокий           1       высокий риск
6        7      283        283     средний           1  обратить внимание
7        8      297        297     средний           0  в порядке очереди

### 4

Узнайте, сколько разных статусов в столбце 'importance_status'. Результат выведите на экран.

In [5]:

support_log_grouped['importance_status'].value_counts()

importance_status
высокий риск         3
в порядке очереди    3
блокер               1
обратить внимание    1
Name: count, dtype: int64