In [1]:
import pandas as pd

### 1

Взгляните на присланную разработчиками таблицу. Она называется logs, так как в ней отражены логи — данные о посещениях сайта.

В таблице четыре столбца:

user_id — идентификатор пользователя;

email подписчика рассылки;

source, источник трафика;

purchase, факт покупки: со значением 1, если покупка состоялась, 0 — не состоялась.

Каждая строчка в таблице соответствует визиту на сайт. User ID, источник трафика и факт покупки можно получить из Яндекс.Метрики, а адреса электронной почты — из базы тех, кто подписался на email-рассылку. Когда к набору полученных определённым образом данных добавляют информацию из другого источника, это называется обогащение данных.

Прочтите содержимое файла logs.csv и сохраните его в датафрейме logs. Ознакомьтесь с данными, вызвав метод head().

Путь к файлу: /datasets/logs.csv

In [2]:
logs = pd.read_csv('./logs.csv')
logs.head()

      user_id   source       email  purchase
0  7141786820    other         NaN         0
1  5644686960    email  c129aa540a         0
2  1914055396  context         NaN         0
3  4099355752    other         NaN         0
4  6032477554  context         NaN         1

### 2 

Оцените объём данных в таблице logs.

In [3]:
logs.shape

(200000, 4)

In [4]:
logs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200000 entries, 0 to 199999
Data columns (total 4 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   user_id   200000 non-null  int64
 1   source    198326 non-null  object
 2   email     13953 non-null   object
 3   purchase  200000 non-null  int64
dtypes: int64(2), object(2)
memory usage: 6.1+ MB

### 3

Посчитайте количество уникальных email и уникальных User ID в таблице logs.

Выведите результат на экран в таком виде:

Уникальных email: ...

Уникальных User ID: ...

In [5]:
print('Уникальных email:', len(logs['email'].unique()))
print('Уникальных User ID', len(logs['user_id'].unique()))

Уникальных email: 6063
Уникальных User ID 86571

### 4

Методом unique() определите, какие уникальные источники трафика есть в таблице. Результат выведите на экран.

Подсказка

Примените метод unique() к столбцу 'source' таблицы logs.

In [6]:
print(logs['source'].unique())

['other' 'email' 'context' nan 'undef']