### 1

Восстановите справедливость: верните Рону его факультет, заменив значение NaN на 'Гриффиндор' методом fillna(). 

Выведите на экран таблицу hogwarts_points.

In [1]:
import pandas as pd

In [2]:
hogwarts_points = pd.read_csv('./hogwarts_points.csv')
hogwarts_points['faculty_name'] = hogwarts_points['faculty_name'].fillna('Гриффиндор')
print(hogwarts_points)

  faculty_name      student_name  points
0   Гриффиндор      Гарри Поттер      15
1     Слизерин      Драко Малфой      28
2    Когтевран    Полумна Лавгуд      10
3   Гриффиндор         Рон Уизли       5
4    Пуффендуй    Седрик Диггори      17
5   Гриффиндор  Невилл Долгопупс      12

### 2

Измените код, чтобы результат приобрёл такой вид:

Сумма баллов учеников: # сумма значений столбца 'points'

Сумма баллов факультетов: # сумма баллов при группировке по факультетам

Кубок получает # название факультета

In [3]:
#Сумма баллов учеников: # сумма значений столбца 'points'
print('Сумма баллов учеников:', hogwarts_points['points'].sum())

#Сумма баллов факультетов: # сумма баллов при группировке по факультетам
print('Сумма баллов факультетов:', hogwarts_points.groupby('faculty_name')['points'].sum())

#Кубок получает # название факультета 
print('Кубок получает:', hogwarts_points.groupby('faculty_name')['points'].sum().max())
print('Кубок получает:', hogwarts_points.groupby('faculty_name')['points'].sum().idxmax())

Сумма баллов учеников: 87
Сумма баллов факультетов: faculty_name
Гриффиндор    32
Когтевран     10
Пуффендуй     17
Слизерин      28
Name: points, dtype: int64
Кубок получает: 32
Кубок получает: Гриффиндор

### 3

Применим полученные в Хогвартсе знания к реальной задаче. Возьмём источники трафика Яндекс.Маркета и рассчитаем конверсию.
Найдите количество визитов из каждого источника трафика, результат сохраните в переменной visits и выведите на экран.

In [4]:
logs = pd.read_csv('./logs.csv')
logs.head()

      user_id   source       email  purchase
0  7141786820    other         NaN         0
1  5644686960    email  c129aa540a         0
2  1914055396  context         NaN         0
3  4099355752    other         NaN         0
4  6032477554  context         NaN         1

In [5]:
visits =  logs.groupby('source')['user_id'].count()
print(visits)

source
context     52032
email       12279
other      133834
undef         181
Name: user_id, dtype: int64

### 4

Посчитайте количество совершённых покупок для каждого источника трафика. Результат сохраните в переменной purchase и выведите на экран.

In [19]:
purchase = logs.groupby('source')['purchase'].sum()
print(purchase)

source
context    3029
email       913
other      8041
undef        12
Name: purchase, dtype: int64

### 5

Посчитайте конверсию по каждому источнику трафика, результат сохраните в переменной conversion и выведите на экран.

In [24]:
conversion = purchase/visits * 100
print(conversion)

source
context    5.821418
email      7.435459
other      6.008189
undef      6.629834
dtype: float64