### 1

В столбце email встречаются значения NaN — вместо электронных почт пользователей, не подписавшихся на рассылку магазина. Их электронный адрес вы вряд ли узнаете, и не сможете заполнить пропуски вручную. Да и самих NaN слишком много для ручной замены.

Тем не менее, избавиться от значений NaN можно, если заменить их единым значением. Например, пустой строкой. Так изучать таблицу будет проще: не нужно будет различать NaN и email-адрес.

Замените пропуски пустыми строками, используя знакомый метод fillna(). После этого преобразования выведите на экран первые 5 строк датафрейма.

In [1]:
import pandas as pd

In [2]:
logs = pd.read_csv('./logs.csv')
logs.head()

      user_id   source       email  purchase
0  7141786820    other         NaN         0
1  5644686960    email  c129aa540a         0
2  1914055396  context         NaN         0
3  4099355752    other         NaN         0
4  6032477554  context         NaN         1

In [3]:
logs['email'] = logs['email'].fillna(value='') 
logs.head()

      user_id   source       email  purchase
0  7141786820    other                     0
1  5644686960    email  c129aa540a         0
2  1914055396  context                     0
3  4099355752    other                     0
4  6032477554  context                     1

### 2

Пропуски в столбце source записаны в строковом формате — 'None' вместо None. Выясните, случайно ли их возникновение: проверьте, имеет ли каждая строка с источником 'None' определённый email.

Для этого примените к датафрейму logs два фильтра:

Источник source равен 'None';

Значение столбца email равно пустой строке ''.

Выведите датафрейм с применёнными фильтрами. Переменную с датафреймом при этом перезаписывать не нужно.

In [4]:
logs.loc[(logs['source'] == 'None') & (logs['email'] == '')]

Empty DataFrame
Columns: [user_id, source, email, purchase]
Index: []

In [5]:
logs['email'] = logs['email'].fillna(value='')
print(logs.loc[(logs['source'] == 'None') & (logs['email'] == '')])

Empty DataFrame
Columns: [user_id, source, email, purchase]
Index: []

### 3

Замените пропуски в строках с пустым значением source на значение 'email'. Проверьте результат методом value_counts().

In [6]:
logs['email'] = logs['email'].fillna(value='')
logs.loc[logs['source'] == 'None', 'source'] = 'email' 
print(logs['source'].value_counts())

source
other      133834
context     52032
email       12279
undef         181
Name: count, dtype: int64

### 4

Посчитайте количество визитов и покупок по источнику трафика ('source'). Вызовите метод agg.
Сохраните результат в переменной logs_grouped и выведите на экран.

In [7]:
logs['email'] = logs['email'].fillna(value='')
logs.loc[logs['source'] == 'None', 'source'] = 'email'

logs_grouped = logs.groupby('source').agg({'purchase': ['count', 'sum']})
logs_grouped

        purchase
           count   sum
source
context    52032  3029
email      12279   913
other     133834  8041
undef        181    12

### 5

Посчитайте конверсию визитов в покупки для каждого источника трафика (т. е. отношение столбца sum к count).
Сохраните результат в новый столбец logs_grouped['conversion'] и выведите обновлённую таблицу на экран.

In [8]:
logs_grouped['conversion'] = logs_grouped['purchase']['sum'] / logs_grouped['purchase']['count']
logs_grouped

        purchase       conversion
           count   sum
source
context    52032  3029   0.058214
email      12279   913   0.074355
other     133834  8041   0.060082
undef        181    12   0.066298

### 6

У 'undef' всего 12 покупок. Эта категория на порядки отличается от своих более объёмных конкурентов, и сравнивать их некорректно. 

Объедините её с одной из «больших» категорий в данных, похожей на 'undef' своей конверсией. 

Замените значение источника 'undef' на 'other' и посчитайте конверсию в покупки для каждого источника трафика после замены. 

Выведите logs_grouped на экран.

In [18]:
logs.loc[logs['source'] == 'undef', 'source'] = 'other' 
print(logs['source'].value_counts())

source
other      134015
context     52032
email       12279
Name: count, dtype: int64