In [1]:
import pandas as pd

In [2]:
metrica = pd.read_csv('./metrica_data.csv')
metrica.head()

      user_id device_type   age    time
0  7141786820     desktop  33.0  2127.0
1  5644686960      mobile  30.0    35.0
2  1914055396     desktop  25.0     NaN
3  4099355752     desktop  25.0  2123.0
4  6032477554     desktop  27.0    59.0

## 1


Прочитайте данные из файла metrica_data.csv. 

Результат сохраните в переменной metrica. Посчитайте средний возраст пользователей и сохраните его в переменной age_avg. 

Выведите результат на экран.

Путь к файлу: /datasets/metrica_data.csv

In [3]:
age_avg = metrica['age'].agg('mean')
age_avg

np.float64(32.48966336969903)

## 2

Замените пропущенные значения в столбце age на средний возраст. 

Выведите на экран первые 10 строк набора данных.

In [4]:
age_avg = metrica['age'].mean()
metrica['age'] = metrica['age'].fillna(value=age_avg)
print(metrica.head(10))

      user_id device_type        age    time
0  7141786820     desktop  33.000000  2127.0
1  5644686960      mobile  30.000000    35.0
2  1914055396     desktop  25.000000     NaN
3  4099355752     desktop  25.000000  2123.0
4  6032477554     desktop  27.000000    59.0
5  5872473344      mobile  27.000000     NaN
6  7977025176      mobile  32.489663     NaN
7  3512872755     desktop  40.000000    65.0
8  1827368713     desktop  37.000000     NaN
9  8688870165     desktop  36.000000  2124.0

## 3


Найдите среднее время просмотра сайта и сохраните в переменной time_avg. 

Выведите результат на экран.

In [5]:
time_avg = metrica['time'].agg('mean')
time_avg

np.float64(1430.1294506106535)

## 4

Можно заменить время на среднее значение. Однако пользователи заходят в интернет то с мобильного устройства, то с компьютера. 

Учтём этот факт для повышения точности заполнения пропущенных данных о времени на сайте.

Выберите строки таблицы с данными о просмотрах с компьютера, т.е. такие, где в столбце 'device_type' указано значение 'desktop'. 

Сохраните результат в переменной desktop_data и выведите первые 5 строк на экран.

In [6]:
desktop_data = metrica.loc[metrica.loc[:,'device_type'] == 'desktop']
desktop_data

          user_id device_type   age    time
0      7141786820     desktop  33.0  2127.0
2      1914055396     desktop  25.0     NaN
3      4099355752     desktop  25.0  2123.0
4      6032477554     desktop  27.0    59.0
7      3512872755     desktop  40.0    65.0
...           ...         ...   ...     ...
99992  7964851413     desktop  35.0  2095.0
99994  7751404712     desktop  40.0     NaN
99995  7823848431     desktop  26.0  2093.0
99998  8228213054     desktop  36.0  2096.0
99999    79268366     desktop  25.0  2137.0

[73764 rows x 4 columns]

## 5

Установите, сколько времени в среднем проводят на сайте пользователи настольных компьютеров. 

Результат сохраните в переменной desktop_data_time_avg. 

Закомментируйте вывод предыдущего задания и выведите значение desktop_data_time_avg на экран.

In [7]:
desktop_data_time_avg = desktop_data['time'].agg('mean')
desktop_data_time_avg

np.float64(1741.8747158537378)

## 6

Получите таблицу с данными о просмотрах с мобильных платформ. 

Сохраните результат в переменной mobile_data и выведите первые 5 строк на экран.

In [8]:
mobile_data = metrica.loc[metrica.loc[:,'device_type'] == 'mobile']
mobile_data

          user_id device_type        age  time
1      5644686960      mobile  30.000000  35.0
5      5872473344      mobile  27.000000   NaN
6      7977025176      mobile  32.489663   NaN
10     7172802697      mobile  30.000000   NaN
14     9312844109      mobile  32.489663  40.0
...           ...         ...        ...   ...
99988  5652872698      mobile  27.000000   NaN
99991  3373532849      mobile  28.000000  49.0
99993  8576390025      mobile  32.000000   NaN
99996  3586574436      mobile  36.000000  40.0
99997   859960707      mobile  28.000000  30.0

[26236 rows x 4 columns]

## 7

Посчитайте среднее время пребывания на сайте пользователей мобильных платформ. 

Результат сохраните в переменной mobile_data_time_avg. 

Закомментируйте вывод предыдущего задания и выведите значение mobile_data_time_avg на экран.

In [9]:
mobile_data_time_avg = mobile_data['time'].mean()
mobile_data_time_avg

np.float64(41.15691239238949)